.venv
.vscode
artifacts/**
!.keep

*.pyc
*.egg-info
*.gists
*.venv
__pycache__/

.env
*.env
k8s/*/*.values.yaml
*.crt
*.key

# Ingore helm charts archives

**/.coverage
**/coverage.xml
k8s/federated-node/Chart.lock
k8s/federated-node/charts
k8s/federated-node/.debug
debug.yaml

# Ignore example values files while developing (remove later)
!example.values.yaml
